body {
    background-image: url(fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin:0px;
}
/* justify-content sive ara trabajar sobre el eje de las X (horizontolal)
    flex-direction elige la direccion en la que quieres trabajar
    align-items trabaja sobre los elementos de las Y (Vertical)

    */
.arriba {
    display: flex;
    justify-content: space-between;
}

.abajo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
    .abajo h4{
      color:  rgba(255, 73, 179, 0.8);
      font-size: 16px;
      text-align: center;      
    }

ul{
    padding: 0px;
}
.menu ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}

    .menu ul li {
        display: inline;
        font-weight: bold;
        text-decoration: none;
    }

        .menu ul li a {
            text-decoration: none;
            padding: 2px 2px;
            border-radius: 10px; 
            transition: color 0.8s , background 0.8s;
            }

            .menu ul li a:hover {
                color: rgba(255, 73, 179, 0.8);
                background-color: white;
                }
            

.multimedia{
    text-align: center;
    border:dotted;
    border-radius:20px;
    color: deeppink;
    margin: 0px 150px;
    font-size: 20px;
}
    #galeria .col-lg-3{
        margin: 0 !important;
        padding: 25px;
       
    }

        @keyframes rotategal{
            100%{
                transform: rotate3d(1, 2, -1, 360deg);
            }
        }
        #galeria img{
            width: 100%;
            height: 250px;
            animation-name: rotategal;
            animation-duration: 1.5s;
        }
            #galeria img:hover{
                border: 5px solid #fff;

            }
                #galeria img:target{
                    position: fixed;
                    background: rgba(0,0,0,0.8);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

.ui-menu { width: 150px; }


.quienessomos{
    text-align: center;
    border: dotted;
    border-radius: 20px;
    color: green;
    margin: 0px 150px;
    font-size: 20px;
}

.contactanos {
    text-align: center;
    border: dashed;
    border-radius: 20px;
    color: #8e0082;
    margin: 0px 150px;
    font-size: 20px;
}

#boton-oculto{
    display: none;  
  }

    .form{
        padding: 0px 30%;
        margin-top: 40px;    
        display: flex;
        flex-direction: column;
    }

    .form label{
        font-weight: bold;
        color:#007bff;
    }
    div.form-group{
        margin: 10px;
    }

.juegos{
    text-align: center;
    border: dotted;
    border-radius: 20px;
    color: rgb(255, 0, 0);
    margin: 0px 150px;
    font-size: 20px;
}

.nomjuego{
    display: flex;
    justify-content: space-around;
    padding: 30px 200px;
}



/*@keyframes skew {
    100%{
        transform: skew(180deg);
    }
}*/

.nomjuego #juego1{
        color: white;
  /*   animation-name: skew;
    animation-duration: 3s;*/
    
} 

 .nomjuego #juego1:hover{
    transition: transform 2s;
    transform: skew(180deg);
} 

/* @keyframes rotate{
    100%{
        transform: rotate(1turn);
    }
}

.nomjuego #juego2{
    animation-name: rotate;
    animation-duration: 1s;
} */

 .nomjuego #juego2:hover{
    transition: transform 1s;
    transform: rotate(1turn); /*turn es numero de vuentas, para asignar grados se utiliza deg*/
    
} 

.nomjuego #juego3:hover{
    transition: transform 1s;
	transform: scale(1.3,1.3); /*se separa con , para diferenciar cuanto quieres escalar el elemento en X o en Y, pero puedes dejar un solo valor para escalarlo por igual en los dos ejes*/
}

.nomjuego #juego4:hover{
    transition: transform 1s;
    transform: translate(25px,10px);
    
}



@media screen and (max-width: 800px){
    .nomjuego{
       flex-direction: column;
       justify-content: center;
       padding: 10px 100px;
       
    }
}